#!/bin/bash

# List all functions in this file
c:list () {
	echo "Available functions:"
	# see https://superuser.com/a/684256
	print -l ${(k)functions} | grep --color=never "c:"
}

# Source custom .dotfiles
# This should be called every thime a function or alias is updated
c:source () {
	echo 'Sourcing custom dotfiles'
	source ~/.dotfiles/.profile
}

# Set git user 
c:gituser () {
	[[ "$(git rev-parse --is-inside-work-tree 2>/dev/null)" != "true" ]] && echo "You are not in a git directory" && return;
	
	PS3="Which mail do you want to set?"
	COLUMNS=1
	emails=(chielorenz@gmail.com llorenzini@wethod.com)

	select email in $emails
	do
		if [[ " ${emails[*]} " =~ " ${email} " ]]; then
			git config user.name "Luca Lorenzini"
  			git config user.email $email
			break
		else
			echo "Invalid option, try a number"
		fi
	done
	echo "User '$(git config user.email)' ($(git config user.name)) set on ${PWD}"
}
